<app-navbar></app-navbar>
<div class="pt-3">
    <div *ngIf="!isLoading" class="container">
        <mat-card *ngIf="invitations?.length == 0" class="question-card">
            <mat-card-content class="text-center">
              Nie masz ankiet do wypełnienia.
            </mat-card-content>
          </mat-card>
        <div *ngIf="invitations?.length> 0">
            <h1>Dostępne ankiety</h1>
            <hr>
            <div *ngFor="let invitation of invitations" class="custom-container">
                <app-invitation [invitation]="invitation"></app-invitation>
            </div>
        </div>
    </div>
</div>

