<div style="position: relative;">
    <button class="close-button" (click)="onCloseClick()">
        <mat-icon class="close-icon">close</mat-icon>
    </button>


    <h1 class="text-center" mat-dialog-title>Zmień hasło</h1>

    <form [formGroup]="form" autocomplete="off">

        <div formGroupName="Passwords">
            <div>
                <label>Aktualne hasło:</label>
                <mat-form-field appearance="outline">
                    <input matInput type="password" formControlName="ActualPassword" maxlength="20" (keydown)="onKeyDown($event)">
                    <mat-hint align="end">{{form.controls.Passwords.controls.ActualPassword.value.length}}/20</mat-hint>
                </mat-form-field>
                <label class="text"
                       *ngIf="form.get('Passwords.ActualPassword').touched && form.get('Passwords.ActualPassword').errors?.required">Pole
                    jest wymagane.</label>
                <label class="text"
                       *ngIf="form.get('Passwords.ActualPassword').touched && form.get('Passwords.ActualPassword').errors?.minlength">Hasło
                    musi mieć co najmniej 8 znaków.</label>
            </div>

            <div>
                <label>Nowe hasło *:</label>
                <mat-form-field appearance="outline">
                    <input matInput type="password" formControlName="NewPassword" maxlength="20" (keydown)="onKeyDown($event)">
                    <mat-hint align="end">{{form.controls.Passwords.controls.NewPassword.value.length}}/20</mat-hint>
                </mat-form-field>
                <label class="text"
                       *ngIf="form.get('Passwords.NewPassword').touched && form.get('Passwords.NewPassword').errors?.required">Pole
                    jest wymagane.</label>
                <label class="text"
                       *ngIf="form.get('Passwords.NewPassword').touched && form.get('Passwords.NewPassword').errors?.minlength">Hasło
                    musi mieć co najmniej 8 znaków.</label>
            </div>

            <div>
                <label>Potwierdź nowe hasło:</label>
                <mat-form-field appearance="outline">
                    <input matInput type="password" formControlName="ConfirmPassword" maxlength="20"
                           (keydown)="onKeyDown($event)">
                    <mat-hint align="end">{{form.controls.Passwords.controls.ConfirmPassword.value.length}}/20</mat-hint>
                </mat-form-field>
                <label class="text"
                       *ngIf="form.get('Passwords.ConfirmPassword').touched && form.get('Passwords.ConfirmPassword').errors?.required">Pole
                    jest wymagane.</label>
                <label class="text"
                       *ngIf="form.get('Passwords.ConfirmPassword').touched && form.get('Passwords.ConfirmPassword').errors?.minlength">Hasło
                    musi mieć co najmniej 8 znaków.</label>
                <label class="text"
                       *ngIf="form.get('Passwords.ConfirmPassword').touched && form.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Wprowadzone
                    hasła muszą być takie same.</label>
            </div>
        </div>

        <p class="text-hint">* Hasło musi mieć minimum 8 znaków, maksymalnie 20 znaków</p>

        <div class="form-row">
            <div class="form-group col-md-8 offset-md-2">
                <button class="btn btn-lg btn-block btn-green" [disabled]="!form.valid" (click)="onChangePassword()">Zmień
                    hasło</button>
            </div>
        </div>

    </form>

</div>
