<div class="container">
  <div *ngIf="dataSource?.data?.length != 0">
    <h1 style="margin-top: 5px;">Zaproszenia</h1>
    <hr>
    <div class="search-div">
      <form class="search-form-field" floatLabel="never">
        <input placeholder="Szukaj zaproszenia" autocomplete="off" (keyup)="filterData($event.target.value)">
      </form>
    </div>
  </div>
  
  <div class="mat-elevation-z8 table-margin" style="margin-top: 25px;">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="surveyName">
        <mat-header-cell *matHeaderCellDef> Nazwa </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.surveyName}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="sentTo">
        <mat-header-cell *matHeaderCellDef> Wysłane do </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="sendDate">
        <mat-header-cell *matHeaderCellDef> Wysłano </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sendDate}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef> Rozpoczęcie </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="expirationDate">
        <mat-header-cell *matHeaderCellDef> Wygaśnięcie </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.expirationDate}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="filledSurvey">
        <mat-header-cell *matHeaderCellDef> Wypełniono </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div *ngIf="element.filledSurvey">
              <mat-icon class="icon">check</mat-icon>
          </div>
          <div *ngIf="!element.filledSurvey">
              <mat-icon class="icon">close</mat-icon>
          </div>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns:displayedColumns; " (click)="onInvitationClick(row)"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
  </div>
</div>

