<div class="container">
  <div *ngIf="!loading">
    <div class="card-group">
        <div class="card border-add d-flex" title="Dodaj ankietę" role="button" (click)="openDialog()">
          <mat-icon class="plus">add_circle_outline</mat-icon>
        </div>
        <div *ngIf="surveys == null || surveys?.length == 0">
          <app-survey [survey]="noSurveys"></app-survey>
        </div>
        <div *ngFor="let survey of surveys">
          <app-survey [survey]="survey"></app-survey>
        </div>
    </div>
      
  </div>
</div>
