.plus{
    position: relative;
    transform: scale(2.5);
    color: azure;
}

.plus:hover{
    transform: scale(3);
}

.d-flex{
    align-items: center;
    justify-content: center;
}

.border-add{
    background-color: #a8a8a8e1;
    border-color:  #a8a8a89c;
    min-width: 5rem;
    max-width: 10rem;
    border-radius: 25px !important;
}