<ul class="nav nav-pills flex-column" style="margin-top: 5px">
    <li class="nav-item">
        <a class="nav-link" routerLink="surveys">
            <mat-icon class="icon">chat</mat-icon> Ankiety
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="invitations">
            <mat-icon class="icon">email</mat-icon> Zaproszenia
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="users">
            <mat-icon class="icon">account_circle</mat-icon> Użytkownicy
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="registration">
            <mat-icon class="icon">person_add</mat-icon> Dodaj użytkownika
        </a>
    </li>
</ul>
