<div class="constant-margin">
<nav class="navbar custom-navbar" id="navbar">
    <a class="navbar-brand text-white" routerLink="">System ankietowy</a>
    <div class="row">
        <span class="username">{{getUserEmail()}}</span>
        <button class="nav_btn" (click)="onChangePassword()" title="Zmień hasło">
            <mat-icon class="icon">vpn_key</mat-icon>
        </button>
        <button class="nav_btn" (click)="onLogout()" title="Wyloguj się">
            <mat-icon class="icon">logout</mat-icon>
        </button>
    </div>
</nav>
</div>
