.question {
    font-size: 24px;
}

.custom-btn {
    margin: 10px !important;
}

.delete_btn {
    border: none;
    outline: none;
}

.progress-bar {
    background-color: #63A4FF;
}

#timer {
    position: absolute;
    top: 75px;
    right: 25px;
}

.custom-button {
	border-radius: 20px;
	border: 1px solid #63A4FF;
	background-color:#63A4FF;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.custom-button:hover {
	background-color:#72a0e0;
}

.confirm-button {
	border-radius: 20px;
	border: 1px solid #008000;
	background-color:#008000;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button {
  margin: 20px;
}

.container{
    background-color: #e8e8e8c7;
}

.form{
	width: 100% px !important;
}