/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-card {
    color: #000 !important;
    background-color: rgba(255, 255, 255, 0.6) !important;
    border:  #a8a8a8e1 1px solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

mat-card:hover {
    background-color: #e8e8e8 !important;
}


.mat-form-field input{
    border-radius: 1%;
    border-right: rgb(112, 112, 112) 1px solid;
    border-bottom: rgb(112, 112, 112) 1px solid;
}
